{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Place Details plugin for Craft CMS 3.x
 *
 * Place Details Settings.twig
 *
 * @author    Ghiorghiu Andrei
 * @copyright Copyright (c) 2019 Ghiorghiu Andrei
 * @link      https://github.com/Andr3y9603/Place-Details
 * @package   PlaceDetails
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ags\\placedetails\\assetbundles\\placedetails\\PlaceDetailsAsset") %}

{{ forms.textField({
    label: 'API Key',
    instructions: "Your application's API key. This key identifies your application for purposes of quota management. See Get a key for more information.",
    id: 'apiKey',
    name: 'apiKey',
    value: settings['apiKey']})
}}

{{ forms.textField({
    label: 'Place Id',
    instructions: "A textual identifier that uniquely identifies a place, returned from a Place Search. For more information about place IDs, see the place ID overview.",
    id: 'placeId',
    name: 'placeId',
    value: settings['placeId']})
}}

{{ forms.textField({
    label: 'Format',
    instructions: "Program Line Format",
    id: 'placeProgramFormat',
    name: 'placeProgramFormat',
    value: settings['placeProgramFormat']})
}}

{{ forms.checkboxField({
    label: 'Format 24h',
    instructions: "",
    id: 'format24',
    name: 'format24',
    checked: settings['format24']})
}}
<div class="field">
    <p class="heading"><label>Translations</label></p>
    <table class="shadow-box editable">
        <thead>
            <tr>
                <th>Day</th>
                <th>Translate</th>
            </tr>
        </thead>
        <tbody>
        {% for day, dayTranslate in translations %}
            <tr>
                <td>{{day}}</td>
                <td>
                    {{ forms.textField({
                        id: 'translations' ~ day,
                        name: 'translations['~day~']',
                        value: settings['translations'][day]})
                    }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



<div class="field fullwidth">
    <p class="heading"><label>Global Vars</label></p>
    <span>placeDetails [</span>
    {% for key, variable in placeDetails %}
        <span>{{key}}</span>
        {% if key != 'opening_hours' %}
        |
        {% endif %}
    {% endfor %}
    ]
</div>

<div class="field fullwidth">
    <p class="heading"><label>Preview Opening Hours</label></p>
    <div><span class="pd-bold">Open now</span>: {{placeDetails.open_now ?? ''}}</div>
    {% for data in placeDetails.opening_hours ?? '' %}
    <div>{{data|raw}}</div>
    {% endfor %}
</div>
